@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --primary-color: #047aed;
  --secondary-color:#1c3fa8;
  --light-color:#f4f4f4;
  --dark-color:#002240;
  --box-shadow:rgba(0,0,0,0.2);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body{
  font-family:'lato' ;
  color:#333;
  line-height:1.6;
}

ul{
  list-style-type:none;
}

a{
  text-decoration: none;
  color:#333;
}

h1,
h2{
  font-weight:300;
  line-height:1.2;
  margin:10px 0;
}

p{
  margin:10px 0;
}

img{
  width:100%;
}

.navbar{
  background:var(--primary-color);
  color:#fff;
  height:70px;
}

.navbar ul{
  display:flex;
}

.navbar a{
  color:#fff;
  padding:10px;
  margin:0 5px;
}

.navbar a:hover{
  border-bottom:2px #333 solid;
}

.navbar .flex{
  justify-content: space-between;
}

/* ShowCase */
.showcase{
  height:400px;
  background-color: var(--primary-color);
  color:white;
  position:relative;
}

.showcase h1{
  font-size:40px;
}

.showcase p{
  margin: 10px 0;
}

.showcase .grid{
  grid-template-columns:55% 45%;
  overflow: visible;
  gap:30px;
}

.showcase-form{
  position: relative;
  top:60px;
  height:350px;
  width: 400px;
  padding: 0% ;
  z-index:100;
}

.showcase-form input:focus{
  outline:none;
}

.showcase::before,
.showcase::after{
  content:'';
  position:absolute;
  height: 100px;
  bottom:-70px;
  right:0;
  left:0;
  background:#fff;
  transform:skewY(-3deg);
  -webkit-transform:skewY(-3deg);
  -moz-transform:skewY(-3deg);
  -ms-transform:skewY(-3deg);
}
/* Stats */
.stats{
  padding-top:100px;
}

.stats-heading{
  max-width: 500px;
  margin:0 auto;
}

.stats .grid h3{
  font-size:35px;
}

.stats .grid p{
  font-size:20px;
  font-weight:bold;
}
/* CLI */
.cli .grid{
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
}

.cli .grid > *:first-child{
  grid-column:1/span 2;
  grid-row:1/span 2;
}

/* Cloud */
.cloud .grid{
  grid-template-columns: 4fr 3fr;
}

.languages .flex{
  flex-wrap: wrap;
}

.languages .card h4{
  font-size:20px;
  margin-bottom:10px;
}

.languages .card:hover{
  transform:translateY(-15px);
}

.languages .card{
  text-align: center;
  margin:18px 10px 40px;
  transition: transform 2s ease-in;
}

/* Footer */
.footer.social a{
  margin:0 20px;
}

.social {
  display: flex;
  gap: 15px;
}


.social a:hover {
  color: #007bff;
}


/* Tablets */
@media(max-width:768px){
.grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid{
    grid-template-columns: 1fr;
    grid-template-rows: 1f;
}
.showcase{
  height:auto;
}

.showcase-text{
  text-align: center;
  margin-top: 40px;
}
.showcase-form{
  justify-self:center;
  margin:auto;
}

.cli .grid > *:first-child{
  grid-column:1;
  grid-row:1;
}

}








/* Mobile */
@media(max-width:500px){
  .navbar{
    height: 110px;
  }

  .navbar .flex{
    flex-direction: column;
  }
  
  .navbar ul{
    padding:10px;
    background-color:rgba(0,0,0,0.2);
  }
}